.pages-title-wrap{
    margin-top: 248px;
    text-align: center;
}

.pages-title{
    font-size: 36px;
    line-height: 1.25;
    margin-top: 8px;

    @include tablet {
        font-size: 48px;
        margin-top: 16px;
    }
    @include laptop {
        font-size: 72px;
    }
}

.home-link {
    display: none;

    @include laptop {
        display: flex;
        align-items: center;
        gap: 10px;
        text-decoration: none;
        font-size: 16px;
        color: var(--neutral-white);
        transition: color 0.3s ease;
    
        .icon-circle {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            background-color: var(--white);
            border-radius: 50%;
        }}
   
}

.page-text{
    font-weight: 400;
    font-size: 15px;
    line-height: 1.2;
    margin-bottom: 37px;
    width: 100%;

    @include tablet {
        max-width: 720px;
        font-size: 18px;
    }

        @include laptop {
            max-width: 768px;
        }
}

.page-section-title{
    margin-bottom: 32px ;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.25;
        text-transform: uppercase;
        color: var(--white);

        @include tablet {
            font-size: 46px;
            line-height: 1.08696;
            margin-bottom: 37px;
            }
        
            @include laptop {
                width: 768px;
            }
}

.text-border{
    padding-bottom: 37px;
    border-bottom: 2px solid var(--white);
}

.page-info{
    display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
        padding-top: 32px;
        padding-bottom: 24px;

        @include tablet {
            padding-top: 50px;
            padding-bottom: 50px;
        }
        
        @include laptop {
            padding-top: 100px;
            padding-bottom: 100px;
            width: 1000px;
        }
}

.page-video, .page-img{
    width: 325px;
        height: 209px;

    @include laptop {
        width: 768px;
        height: 493px;
    }
}

.expert-section{
        display: flex;
        flex-direction: column;
        background-image: url('/img/home/section7.avif');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: calc(100svh + 407px);

        @include tablet {
        }
    }


.img-wrap {
    position: relative;
    margin: 0 auto;
}

.img-extra-wrap{
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: var(--black);
        width: 325px;
        height: 119px;
        margin: 0 auto;
        
        @include laptop {
            position: absolute;
            bottom: 24px;
            right: 24px;
            width: 248px;
            height: 165px;
            margin-top: 0px;
        }
}

.img-extra{   
    margin-top: 16px;
    width: 181px ;
    height: 96px;

    @include laptop {
        right: 24px;
        width: 228px;
        margin-top: 0px;
    }
}

.img-extra-text{
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    color: var(--white);
    margin-top: 16px;
}

.arrow-pages{
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-top: 0;
    rotate: 90deg;
    width: 32px;
    height: 32px;
}

.expert-photo {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    object-fit: cover;

    @include laptop {
        width: 55px;
        height: 55px;
    }
}


.page-experts-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.page-expert-item {
    display: flex;
    column-gap: 24px;
}

.page-expert-text {
    font-weight: 400;
        font-size: 17px;
        line-height: 1.2;
        color: var(--white);

        margin-bottom: 6px;

        @include tablet {
            font-size: 24px;
        }
}

.page-expert-name {
    font-weight: 700;
        font-size: 16px;
        line-height: 1.2;
        color: var(--gray-copyright);

        @include tablet {
                font-size: 22px;
            }
}