.pages-title-wrap{
    margin-top: 248px;
    text-align: center;
}

.pages-title{
    font-size: 36px;
    line-height: 1.25;
    margin-top: 8px;

    @include tablet {
        font-size: 48px;
        margin-top: 16px;
    }
    @include laptop {
        font-size: 72px;
    }
}

.home-link {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    font-size: 16px;
    color: var(--neutral-white);
    transition: color 0.3s ease;

    .icon-circle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background-color: var(--white);
        border-radius: 50%;
    }
}

.page-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 37px;

    @include tablet {
        width: 500px;
    }

        @include laptop {
            width: 768px;
        }
}

.text-border{
    padding-bottom: 37px;
    border-bottom: 2px solid var(--white);
}

.page-info{
    display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
        padding-top: 32px;
        padding-bottom: 24px;

        @include tablet {
            padding-top: 50px;
            padding-bottom: 50px;
        }
        
        @include laptop {
            padding-top: 100px;
            padding-bottom: 100px;
        }
}

.page-img{
    width: 325px;
        height: 209px;

@include laptop {
    width: 768px;
    height: 493px;}
}

.arrow-pages{
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-top: 0;
    rotate: 90deg;
    width: 32px;
    height: 32px;
}