<section id="discovery" class="video-bg-section">
  <video
    class="video-bg"
    autoplay
    muted
    playsinline
    loop
    preload="auto"
    src="./videos/section10.mp4"
    poster="./img/home/section10.avif"
  ></video>
  <div
    class="container video-container"
    data-aos="fade-up"
    data-aos-offset="200"
    data-aos-delay="50"
    data-aos-duration="1000"
    data-aos-easing="ease-in-out"
    data-aos-mirror="true"
    data-aos-once="false"
    data-aos-anchor-placement="top-left"
  >
    <a href="/" class="home-link">
      <span class="icon-circle">
        <img
          src="./img/pages/arrow-home.svg"
          alt="Arrow left"
          width="16"
          height="16"
        />
      </span>
      HOME PAGE
    </a>
    <div class="pages-title-wrap">
      <h3 class="subtitle">About us</h3>
      <h2 class="title pages-title">
        Bridging the Gap <br />
        Between Science and <br />
        the Cosmos
      </h2>
    </div>
    <svg
      class="chevron-right arrow-pages"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path d="m9 18 6-6-6-6" />
    </svg>
  </div>
</section>
<section class="container page-info">
  <h3 class="page-section-title">
    About the Galaxia Research Consortium (GRC)
  </h3>
  <p class="page-text">
    The Galaxia Research Consortium (GRC) is an independent organization
    comprised of leading scientists, researchers, and experts dedicated to
    reviewing, validating, and disseminating the findings produced by Galaxia.
    With no direct affiliation to Galaxia itself, GRC’s mission is to ensure
    that all groundbreaking discoveries are meticulously verified and
    responsibly communicated to both the scientific community and the
    public—offering an unbiased lens through which to view our place in the
    cosmos.<br />
    <br />
    GRC serves as a bridge between revolutionary data and scientific consensus,
    ensuring that new evidence is rigorously scrutinized before it reshapes our
    understanding of the universe.
    <br />
    <br />
    Learn more about our mission and join the journey of discovery.
  </p>
  <div class="about-us-btns">
    <a class="btn about-btn" href="/index.html#hero" style="height: 50px">
      <span>Contact Us</span>
    </a>
    <a class="btn-reverse about-reverse" href="/index.html#hero">
      <span>Get Exclusive Updates</span>
      <svg
        class="chevron-right"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="m9 18 6-6-6-6" />
      </svg>
    </a>
  </div>
  <p class="text-border"></p>
  <video
    class="page-video"
    style="margin-top: 37px"
    autoplay
    muted
    loop
    playsinline
    preload="auto"
    src="./videos/additional/page10.mp4"
    poster="./img/pages/about-us.avif"
  ></video>
</section>
