<section id="discovery" class="video-bg-section">
  <video
    class="video-bg"
    autoplay
    muted
    playsinline
    loop
    preload="auto"
    src="./videos/section9.mp4"
    poster="./img/home/section9.avif"
  ></video>
  <div class="container video-container">
    <a href="/" class="home-link">
      <span class="icon-circle">
        <img
          src="./img/pages/arrow-home.svg"
          alt="Arrow left"
          width="16"
          height="16"
        />
      </span>
      HOME PAGE
    </a>
    <div class="pages-title-wrap">
      <h3 class="subtitle">The Challenge</h3>
      <h2 class="title pages-title">
        Discovery Is the World Ready for <br />
        the Truth?
      </h2>
    </div>
    <svg
      class="chevron-right arrow-pages"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path d="m9 18 6-6-6-6" />
    </svg>
  </div>
</section>
<section class="container page-info">
  <p class="page-text">
    As Galaxia’s research advances, it challenges our fundamental
    understandings. Are we prepared for the potential realities it might unveil?
    This is your invitation to be at the forefront of one of humanity’s most
    profound discoveries.
  </p>
  <a class="btn-reverse challenge-btn" href="/index.html#hero">
    <span>Get Exclusive Updates</span>
    <svg
      class="chevron-right"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path d="m9 18 6-6-6-6" />
    </svg>
  </a>
  <p class="text-border"></p>
  <video
    class="page-video"
    style="margin-top: 37px"
    autoplay
    muted
    loop
    playsinline
    preload="auto"
    src="./videos/additional/page9.mp4"
    poster="./img/pages/challenge.avif"
  ></video>
</section>
