<section id="discovery" class="video-bg-section">
  <video
    class="video-bg"
    autoplay
    muted
    loop
    preload="auto"
    src="./videos/section6.mp4"
    poster="./img/home/section2.avif"
  ></video>
  <div class="container video-container">
    <a href="/" class="home-link">
      <span class="icon-circle">
        <img
          src="./img/pages/arrow-home.svg"
          alt="Arrow left"
          width="16"
          height="16"
        />
      </span>
      HOME PAGE
    </a>
    <div class="pages-title-wrap">
      <h3 class="subtitle">Initial findings</h3>
      <h2 class="title pages-title">
        Groundbreaking <br />
        Discoveries Ignite<br />
        Global Interest
      </h2>
    </div>
    <svg
      class="chevron-right arrow-pages"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-chevron-right"
    >
      <path d="m9 18 6-6-6-6" />
    </svg>
  </div>
</section>
<section class="container page-info">
  <p class="page-text text-border">
    Early scans by Galaxia have uncovered data sequences suggesting phenomena
    that defy easy explanation—pointers, perhaps, to civilizations beyond our
    solar system. These preliminary findings are under rigorous review, stirring
    international scientific and media buzz.
  </p>
  <picture class="page-img">
    <source srcset="./img/pages/findings-mob.avif" media="(max-width: 767px)" />
    <source srcset="./img/pages/findings.avif" media="(max-width: 1199px)" />
    <img src="./img/pages/findings.avif" alt="galaxy" />
  </picture>
</section>
