<section id="discovery" class="expert-section">
  <picture class="video-bg" style="">
    <source srcset="./img/pages/vision-mob.avif" media="(max-width: 767px)" />
    <source srcset="./img/home/section7.avif" media="(max-width: 1199px)" />
    <img src="./img/home/section7.avif" alt="galaxy" />
  </picture>
  <div class="container video-container">
    <a href="/" class="home-link">
      <span class="icon-circle">
        <img
          src="./img/pages/arrow-home.svg"
          alt="Arrow left"
          width="16"
          height="16"
        />
      </span>
      HOME PAGE
    </a>
    <div class="pages-title-wrap">
      <h3 class="subtitle">Galaxia’s Mission</h3>
      <h2 class="title pages-title">
        What Science Couldn’t <br />
        Explain, Galaxia is <br />
        Uncovering
      </h2>
    </div>
    <svg
      class="chevron-right arrow-pages"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-chevron-right"
    >
      <path d="m9 18 6-6-6-6" />
    </svg>
  </div>
</section>
<section class="container page-info" style="align-items: start; margin: 0 auto; max-width: 1000px;">
  <h3 class="page-section-title">
    Pioneering Voices: Leading <br/>
     Experts Discuss How Galaxia  <br/> 
     Could Transform Our  <br/>
    Understanding of the Universe
  </h3>
  <ul class="page-experts-list">
    <li class="page-expert-item">
        <img
            src="./img/pages/expert1.avif"
            alt="Expert photo"
            class="expert-photo"
          />
        <div class="expert-description">
        <p class="page-expert-text">“Galaxia is rewriting the rules of cosmic exploration.”</p>
        <p class="page-expert-name">—Dr. Laura Thompson, Theoretical Physicist</p>
        </div>
    </li>
    <li class="page-expert-item">
        <img
            src="./img/pages/expert2.avif"
            alt="Expert photo"
            class="expert-photo"
          />
          <div class="expert-description">
        <p class="page-expert-text">“Galaxia melds quantum computing with AI, redefining universe exploration.”</p>
        <p class="page-expert-name">—Prof. Leonard Kim, Quantum Computing Expert</p>
        </div>
    </li>
    <li class="page-expert-item">
        <img
            src="./img/pages/expert3.avif"
            alt="Expert photo"
            class="expert-photo"
          />
          
          <div class="expert-description">
        <p class="page-expert-text">“Galaxia could soon unveil the cosmic potential for life beyond Earth.”</p>
        <p class="page-expert-name">—Dr. Margaret Thompson, Astrobiologist</p>
          </div>
    </li>
    <li class="page-expert-item">
        <img
            src="./img/pages/expert4.avif"
            alt="Expert photo"
            class="expert-photo"
          />
          
          <div class="expert-description">
        <p class="page-expert-text">“Galaxia sets a new ethical benchmark for AI in scientific discovery.”</p>
        <p class="page-expert-name">—Dr. Alex Rios, AI Ethics Researcher</p>
          </div>
    </li>
    <li class="page-expert-item">
        <img
            src="./img/pages/expert5.avif"
            alt="Expert photo"
            class="expert-photo"
          />
          
          <div class="expert-description">
        <p class="page-expert-text">“Galaxia isn’t just exploring stars—it’s unlocking their secrets.”</p>
        <p class="page-expert-name">—Dr. Rachel Nguyen, Exoplanet Researcher</p>
          </div>
    </li>
  </ul>
  </picture>
</section>
