<section id="discovery" class="video-bg-section">
  <video
    class="video-bg"
    autoplay
    muted
    playsinline
    loop
    preload="auto"
    src="./videos/section3.mp4"
    poster="./img/home/section3.avif"
  ></video>
  <div
    class="container video-container"
    data-aos="fade-up"
    data-aos-offset="200"
    data-aos-delay="50"
    data-aos-duration="1000"
    data-aos-easing="ease-in-out"
    data-aos-mirror="true"
    data-aos-once="false"
    data-aos-anchor-placement="top-left"
  >
    <a href="/" class="home-link">
      <span class="icon-circle">
        <img
          src="./img/pages/arrow-home.svg"
          alt="Arrow left"
          width="16"
          height="16"
        />
      </span>
      HOME PAGE
    </a>
    <div class="pages-title-wrap">
      <h3 class="subtitle">Galaxia’s Mission</h3>
      <h2 class="title pages-title">
        What Science Couldn’t <br />
        Explain, Galaxia is <br />
        Uncovering
      </h2>
    </div>
    <svg
      class="chevron-right arrow-pages"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path d="m9 18 6-6-6-6" />
    </svg>
  </div>
</section>
<section class="container page-info">
  <div>
    <h3 class="page-section-title">
      Galaxia: Designed to uncover what science couldn’t 
    </h3>
    <p class="page-text">
      Humanity has long pondered whether life exists beyond our planet. Armed
      with revolutionary algorithms and deep data analytics, Galaxia transcends
      traditional scientific boundaries, and is beginning to uncover hints of
      life far beyond our own world.
    </p>
    <h3 class="page-section-title">Detailed Methodology:</h3>
    <p class="page-text text-border">
      Galaxia utilizes a cutting-edge Quantum Cognition Engine, integrating
      advanced machine learning with quantum computing techniques to parse vast
      arrays of astronomical data. This approach allows Galaxia to identify
      patterns that suggest the presence of intelligent life, analyzing
      information in ways previously unimaginable.
    </p>
    <picture class="page-img">
      <source
        srcset="./img/pages/mission-mob.avif"
        media="(max-width: 767px)"
      />
      <source srcset="./img/pages/mission.avif" media="(max-width: 1199px)" />
      <img
        src="./img/pages/mission.avif"
        alt="galaxy"
        width="768px"
        height="493px"
      />
    </picture>
  </div>
</section>
