<section id="discovery" class="video-bg-section">
  <video
    class="video-bg"
    autoplay
    muted
    loop
    playsinline
    preload="auto"
    src="./videos/section8.mp4"
    poster="./img/home/section8.avif"
  ></video>
  <div class="container video-container">
    <a href="/" class="home-link">
      <span class="icon-circle">
        <img
          src="./img/pages/arrow-home.svg"
          alt="Arrow left"
          width="16"
          height="16"
        />
      </span>
      HOME PAGE
    </a>
    <div class="pages-title-wrap pages-visionary-title">
      <h3 class="subtitle"> The Visionary </h3>
      <h2 class="title pages-title">
        A Visionary Who <br />
        Shuns the Spotlight
      </h2>
    </div>
    <svg
      class="chevron-right arrow-pages"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-chevron-right"
    >
      <path d="m9 18 6-6-6-6" />
    </svg>
  </div>
</section>
<section class="container page-info">
  <p class="page-text text-border">
    Project Galaxia was conceived by an anonymous scientist, known only as “The
    Visionary.” Widely regarded as a pioneer in their field, The Visionary was
    previously involved in some of the most advanced technologies and secretive
    projects of our time. Choosing to remain behind the scenes, The Visionary’s
    intention is to ensure that the focus remains on the data and
    discoveries—free from personal recognition or external pressures.
  </p>
  <picture class="page-img">
    <source
      srcset="./img/pages/thevisionary-mob.avif"
      media="(max-width: 767px)"
    />
    <source
      srcset="./img/pages/thevisionary.avif"
      media="(max-width: 1199px)"
    />
    <img
      src="./img/pages/thevisionary.avif"
      alt="galaxy"
      width="768px"
      height="493px"
    />
  </picture>
  <div class="visionary-content-wrap">
    <h3 class="page-section-title">
      Pushing the Boundaries of Human Knowledge
    </h3>
    <p class="page-text">
      With an extensive background in astrophysics, quantum computing, and
      artificial intelligence, The Visionary built Galaxia to push the
      boundaries of human knowledge and uncover truths about our universe that
      have long eluded traditional scientific methods. Working independently and
      away from the public eye, The Visionary dedicated years to developing the
      AI’s capabilities, driven by a singular vision: to answer one of
      humanity’s most profound questions—are we alone?
    </p>
    <h3 class="page-section-title">
      A Commitment to Science Over <br />
      Self
    </h3>
    <p class="page-text">
      The decision to remain anonymous reflects The Visionary’s belief that
      scientific discovery should transcend individual identities. By entrusting
      the Galaxia Research Consortium (GRC) to oversee the project’s findings,
      The Visionary ensures that every piece of research is reviewed with
      complete impartiality and shared transparently with the world.
    </p>
    <p class="page-text">
      “The universe doesn’t reveal its secrets to those who seek glory. It opens
      up to those who listen, question, and persist.”
      <span class="visionary-name">—The Visionary, Creator of Galaxia</span>
    </p>
  </div>
</section>
