<section id="discovery" class="video-bg-section">
  <video
    class="video-bg"
    autoplay
    muted
    loop
    preload="auto"
    src="./videos/section5.mp4"
    poster="./img/home/section2.avif"
  ></video>
  <div class="container video-container">
    <a href="/" class="home-link">
      <span class="icon-circle">
        <img
          src="./img/pages/arrow-home.svg"
          alt="Arrow left"
          width="16"
          height="16"
        />
      </span>
      HOME PAGE
    </a>
    <div class="pages-title-wrap">
      <h3 class="subtitle">Vision Realized</h3>
      <h2 class="title pages-title">
        Galaxia: A Singular <br />
        Vision Brought to Life
      </h2>
    </div>
    <svg
      class="chevron-right arrow-pages"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-chevron-right"
    >
      <path d="m9 18 6-6-6-6" />
    </svg>
  </div>
</section>
<section class="container page-info">
  <p class="page-text text-border">
    Galaxia’s creation was the result of one visionary’s relentless pursuit to
    unlock the secrets of life beyond Earth. Supported by select scientific and
    research institutions for validation, Galaxia transcends conventional
    boundaries, pushing humanity closer to answering the question: Are we truly
    alone in the universe?
  </p>
  <picture class="page-img">
    <source srcset="./img/pages/vision-mob.avif" media="(max-width: 767px)" />
    <source srcset="./img/pages/vision.avif" media="(max-width: 1199px)" />
    <img src="./img/pages/vision.avif" alt="galaxy" />
  </picture>
</section>
