.header {
  padding: 16px 0;
  width: calc(100vw - 20px);
  overflow: hidden;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 0px;

  @include laptop {
    padding-right: 20px;
  }
}

.header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 24px;
  row-gap: 28px;
}

.desctop-menu{
  display: none;
}


.mob-menu {
  display: none;

  @include laptop {
    display: block;
  }
}

.header-nav-wrap.menu-open {
  display: flex;
}

@media (max-width: 1024px) {
  .header-nav-wrap {
    display: none;
  }

  .header-nav-wrap.menu-open {
    display: flex;
  }

  .desctop-menu {
    display: none;
  }

  .mob-menu {
    display: block;
  }
}
.menu.menu-open {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  max-width: 300px;
  backdrop-filter: blur(5px);
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity 0.5s ease;
  z-index: 100;
}

.menu.menu-bg {
  opacity: 1;
}

.menu-list {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-transform: capitalize;
  color: var(--neutral-white);
  padding: 60px 0;

  @include laptop {
    padding: 0;
  }
}

.is-menu-open {
  overflow: hidden;
}

.burger-wrapper {
  cursor: pointer;
  z-index: 50;
  display: block;
  transition: all 0.3s ease;
}

.burger {
  position: relative;
  padding: 2px;
  height: 32px;
  width: 32px;
  transition: all 0.3s ease;
}

.burger-open-icon {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  transition: transform 0.3s ease;
}

.burger-close-icon {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform: scale(0);
  transition: transform 0.3s ease;
}

.burger.burger-active .burger-open-icon {
  transform: scale(0);
  z-index: -1;
}

.burger.burger-active .burger-close-icon {
  transform: scale(1);
  z-index: 100;
}

@media (max-width: 1024px) {
  .header-nav-wrap {
    display: none;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 100%;
    max-width: 300px;
    background-color: rgba(0, 0, 0, 0.9);
    transition: right 0.5s ease;
    z-index: 100;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header-nav-wrap.menu-open {
    right: 0;
  }

  .desctop-menu {
    display: none;
  }

  .mob-menu {
    display: block;
  }
}