$menu-icon-size: 2rem;
$menu-icon-dash-width: 100%;
$menu-icon-dash-height: 0.2em;
$menu-icon-dash-gutter: 0.6em;
$menu-icon-dash-color: var(--white);

%menu-dash {
  display: block;
  position: absolute;
  background-color: $menu-icon-dash-color;
  width: $menu-icon-dash-width;
  height: $menu-icon-dash-height;
  transition: transform 0.3s ease;
}

.header {
  padding: 16px 0;
  width: calc(100vw - 20px);
  overflow: hidden;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0;

    @include laptop {
      padding-right: 20px;
    }
  }
}

.header-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;

  .nav-link-item {
    display: none;

    &.mob-menu {
      display: none; // Hidden by default
    }

    &.desctop-menu {

      @include desktop {
        display: block;
      }
    }
  }
}

.menu-icon {
  width: $menu-icon-size;
  height: $menu-icon-size;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease;
  z-index: 100;

  span {
    position: absolute;
    left: 0;
    top: 50%;
    width: $menu-icon-dash-width;
    height: $menu-icon-dash-height;
    background-color: $menu-icon-dash-color;
    border-radius: 2px;
   
    transition: transform 0.3s ease, top 0.3s ease, background-color 0.3s ease;
    transform-origin: center;

    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 0;
      width: $menu-icon-dash-width;
      height: $menu-icon-dash-height;
      background-color: $menu-icon-dash-color;
      border-radius: 2px;
      transition: transform 0.3s ease, top 0.3s ease;
    }

    &:before {
      top: -$menu-icon-dash-gutter;
      transform-origin: center;
    }

    &:after {
      top: $menu-icon-dash-gutter;
      transform-origin: center;
    }
  }

  &[data-menu-open="true"] span {
    background-color: transparent;

    &:before {
      top: 0;
      transform: rotate(45deg);
    }

    &:after {
      top: 0;
      transform: rotate(-45deg);
    }
  }
}


.menu {
  position: relative;
  display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 350px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
    z-index: 100;
    padding-top: 60px;

    .nav-link-item {
        display: block;     
      }
}

.menu[data-menu-open="true"] .nav-link-item.mob-menu {
  display: block;
}

.mob-menu {
  display: none;
}

.burger-wrapper {
  cursor: pointer;
  z-index: 50;
  display: block;
  transition: all 0.3s ease;
}