.menu {
}

.menu.menu-open {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  backdrop-filter: blur(5px);
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.26);
  backdrop-filter: blur(4px);
  transition: all 0.5s ease;
}

.menu.menu-bg {
  opacity: 1;
}

.menu-list {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-transform: capitalize;
  color: var(--neutral-white);
  padding: 60px 0px;

  @include laptop {
    padding: 0;
  }
}

.is-menu-open {
  overflow: hidden;
}

.burger-wrapper {
  display: none;
  z-index: 50;
  transition: all 250ms ease-out;
  @media screen and (max-width: 1199px) {
    display: block;
  }
}

@media (pointer: fine) {
  .burger-wrapper {
    cursor: pointer;
  }
}

.burger {
  position: relative;
  padding: 2px;
  height: 32px;
  width: 32px;
  transition: all 250ms ease-out;
}

.burger-open-icon {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  transition: all 250ms ease-out;
}

.burger-close-icon {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform: scale(0);
  transition: all 250ms ease-out;
}

.burger.burger-active .burger-open-icon {
  transform: scale(0);

  z-index: -1;
}
.burger.burger-active .burger-close-icon {
  transform: scale(1);
  z-index: 100;
}
