<header class="header">
  <div class="container">
    <a href="./index.html" aria-label="Homepage"
      ><img
        class="header-logo-img"
        src="./img/logo.jpg"
        alt="logo"
        width="108"
        height="57"
    /></a>

    <nav class="header-nav-wrap" aria-label="Main Navigation">
      <ul class="header-nav">
        <li class="nav-link-item mob-menu">
          <a class="nav-link lng" href="#discovery">The Discovery</a>
        </li>
        <li class="nav-link-item mob-menu">
          <a class="nav-link lng" href="#galaxia-mission">Galaxia’s Mission</a>
        </li>
        <li class="nav-link-item mob-menu">
          <a class="nav-link lng" href="#origins">Origins</a>
        </li>
        <li class="nav-link-item mob-menu">
          <a class="nav-link lng" href="#vision-realized">Vision Realized</a>
        </li>
        <li class="nav-link-item mob-menu">
          <a class="nav-link lng" href="#initial-findings">Initial Findings</a>
        </li>
        <li class="nav-link-item mob-menu">
          <a class="nav-link lng" href="#expert-insights">Expert Insights</a>
        </li>
        <li class="nav-link-item mob-menu">
          <a class="nav-link lng" href="#visionary">The Visionary</a>
        </li>
        <li class="nav-link-item desctop-menu">
          <a class="nav-link lng" href="#challenge">The Challenge</a>
        </li>
        <li class="nav-link-item desctop-menu">
          <a class="nav-link lng" href="#about-us">About Us</a>
        </li>
        <li class="nav-link-item desctop-menu">
          <a class="nav-link lng" href="#faq">FAQ</a>
        </li>
        <li class="nav-link-item desctop-menu">
          <a class="nav-link lng" href="#join-us">Join us</a>
        </li>
        <li class="nav-link-item desctop-menu">
          <a class="nav-link lng" href="#blog">Blog</a>
        </li>
      </ul>
    </nav>

    <div
      class="burger-wrapper js-burger-btn"
      tabindex="0"
      role="button"
      aria-label="menu open or close"
    >
      <div class="burger js-burger-icon">
        <img
          class="burger-open-icon"
          src="./img/menu.svg"
          alt="menu icon"
          width="32"
          height="32"
        />
        <img
          class="burger-close-icon"
          src="./img/close.svg"
          alt="menu icon"
          width="32"
          height="32"
        />
      </div>
    </div>
  </div>
</header>
