<header class="header">
  <div class="container">
    <a href="./index.html" aria-label="Homepage"
      ><img
        class="header-logo-img"
        src="./img/logo.jpg"
        alt="logo"
        width="108"
        height="57"
    /></a>

    <nav class="header-nav-wrap" aria-label="Main Navigation">
      <ul class="header-nav">
        <li class="nav-link-item desktop-menu">
          <a class="nav-link lng" href="./thediscovery.html">The Discovery</a>
        </li>
        <li class="nav-link-item desktop-menu">
          <a class="nav-link lng" href="./galaxiasmission.html"
            >Galaxia’s Mission</a
          >
        </li>
        <li class="nav-link-item desktop-menu">
          <a class="nav-link lng" href="./origins.html">Origins</a>
        </li>
        <li class="nav-link-item desktop-menu">
          <a class="nav-link lng" href="./visionrealized.html"
            >Vision Realized</a
          >
        </li>
        <li class="nav-link-item desktop-menu">
          <a class="nav-link lng" href="./initialfindings.html"
            >Initial Findings</a
          >
        </li>
        <li class="nav-link-item desktop-menu">
          <a class="nav-link lng" href="./expertinsights.html"
            >Expert Insights</a
          >
        </li>
        <li class="nav-link-item desktop-menu">
          <a class="nav-link lng" href="#visionary">The Visionary</a>
        </li>
      </ul>
    </nav>
  </div>
  <div
    class="burger-wrapper"
    role="button"
    tabindex="0"
    aria-label="menu open or close"
    data-burger-btn
  >
    <div class="menu-icon" data-burger-icon>
      <span></span>
    </div>
  </div>

  <div class="desk-menu-wrap" data-desktop-menu>
    <div class="menu-background"></div>
    <ul class="menu-list">
      <li class="nav-link-item mob-menu">
        <a class="nav-link lng" href="#challenge">The Challenge</a>
      </li>
      <li class="nav-link-item mob-menu">
        <a class="nav-link lng" href="#about-us">About Us</a>
      </li>
      <li class="nav-link-item mob-menu">
        <a class="nav-link lng" href="#faq">FAQ</a>
      </li>
      <li class="nav-link-item mob-menu">
        <a class="nav-link lng" href="#join-us">Join us</a>
      </li>
      <li class="nav-link-item mob-menu">
        <a class="nav-link lng" href="#blog">Blog</a>
      </li>
    </ul>
  </div>

  <div class="mobile-menu" data-mob-menu>
    <div class="menu-background"></div>
    <ul class="menu-list">
      <!-- Mobile menu will show all links -->
      <li class="nav-link-item mob-item">
        <a class="nav-link" href="./thediscovery.html">The Discovery</a>
      </li>
      <li class="nav-link-item mob-item">
        <a class="nav-link" href="./galaxiasmission.html">Galaxia’s Mission</a>
      </li>
      <li class="nav-link-item mob-item">
        <a class="nav-link" href="./origins.html">Origins</a>
      </li>
      <li class="nav-link-item mob-item">
        <a class="nav-link" href="./visionrealized.html">Vision Realized</a>
      </li>
      <li class="nav-link-item mob-item">
        <a class="nav-link" href="./initialfindings.html">Initial Findings</a>
      </li>
      <li class="nav-link-item mob-item">
        <a class="nav-link" href="./expertinsights.html">Expert Insights</a>
      </li>
      <li class="nav-link-item mob-item">
        <a class="nav-link" href="#visionary">The Visionary</a>
      </li>
      <li class="nav-link-item mob-item">
        <a class="nav-link" href="#challenge">The Challenge</a>
      </li>
      <li class="nav-link-item mob-item">
        <a class="nav-link" href="#about-us">About Us</a>
      </li>
      <li class="nav-link-item mob-item">
        <a class="nav-link" href="#faq">FAQ</a>
      </li>
      <li class="nav-link-item mob-item">
        <a class="nav-link" href="#join-us">Join us</a>
      </li>
      <li class="nav-link-item mob-item">
        <a class="nav-link" href="#blog">Blog</a>
      </li>
    </ul>
  </div>
</header>
