<header class="header">
  <div class="container">
    <div class="header-logo">
      <a href="https://skaigroup-pw.netlify.app"
        ><img
          class="header-logo-img"
          src="./img/logo.svg"
          alt="logo"
          width="96"
          height="43"
      /></a>
    </div>

    <div class="header-menu-wrapper menu js-mobile-menu">
      <a class="black-btn header-btn" href="#contact-us">
        <div class="black-btn-text-wrapper">
          <div class="black-btn-text-1 way-header-btn-text-1 lng">
            call back
          </div>
          <div class="black-btn-text-2 way-header-btn-text-2 lng">
            call back
          </div>
        </div>
      </a>
      <div class="home-header-change-lang-wrapper">
        <select class="home-header-change-lang js-change-lang" name="lang">
          <option class="change-lang-opt" value="en">ENGLISH</option>
          <option class="change-lang-opt" value="ru">РУССКИЙ</option>
        </select>
      </div>
    </div>

    <div
      class="burger-wrapper js-burger-btn"
      tabindex="0"
      role="button"
      aria-label="menu open or close"
    >
      <div class="burger js-burger-icon">
        <img
          class="burger-open-icon"
          src="./img/menu.svg"
          alt="menu icon"
          width="32"
          height="32"
        />
        <img
          class="burger-close-icon"
          src="./img/close.svg"
          alt="menu icon"
          width="32"
          height="32"
        />
      </div>
    </div>
  </div>
</header>
