.footer {
  background-color: var(--black);
  padding: 20px 0;

  @include laptop {
    padding: 40px 0;
  }
}

.footer-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 24px;
  row-gap: 28px;

  @include tablet {
    flex-direction: row;
    gap: 30px;
  }
}

.footer-copyright {
  font-size: 12px;
  line-height: 1.75;
  text-transform: uppercase;
  text-align: center;
  color: var(--gray-copyright);
  opacity: 0.6;
  margin-top: 24px;

  @include laptop {
    margin-top: 30px;
  }
}
