.footer {
  background-color:  var(--black);;
  padding: 20px 0;

  @include laptop {
    padding: 40px 0;
  }
}


.footer-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 24px;
  row-gap: 28px;

  @include tablet {
    flex-direction: row;
    gap: 30px;
  }
}


.nav-link {
  display: flex;
  flex-wrap: nowrap;
  font-weight: 700;
    font-size: 15px;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    color:var(--white);
  transition: all var(--timing-function-1);

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--accent-blue);
    }
  }
}

.footer-copyright {
  font-size: 12px;
  line-height: 1.75;
  text-transform: uppercase;
  text-align: center;
  color: var(--gray-copyright);
  opacity: 0.6;
  margin-top: 24px;
  

  @include laptop {
    margin-top: 30px;
  }
}
