<footer id="skaiway-footer" class="way-footer">
  <div class="container">
    <nav class="footer-nav">
        <li class="nav-link-item">
          <a class="nav-link lng" href="#discovery"
            >The Discovery</a
          >
        </li>
        <li class="nav-link-item">
          <a
            class="nav-link lng"
            href="#galaxia-mission"
            >Galaxia’s Mission</a
          >
        </li>
        <li class="nav-link-item">
          <a class="nav-link lng" href="#origins"
            >Origins</a
          >
        </li>
        <li class="nav-link-item">
          <a
            class="nav-link lng"
            href="#vision-realized"
            >Vision Realized</a
          >
        </li>
        <li class="nav-link-item">
          <a
            class="nav-link lng"
            href="#initial-findings"
            >Initial Findings</a
          >
        </li>
        <li class="nav-link-item">
          <a
            class="nav-link lng"
            href="#expert-insights"
            >Expert Insights</a
          >
        </li>
        <li class="nav-link-item">
          <a
            class="nav-link lng"
            href="#visionary"
            >The Visionary</a
          >
        </li>
    </nav>

      <p class="footer-copyright lng">GRC © 2024</p>
    </div>
  </div>
</footer>
