<footer id="skaiway-footer" class="way-footer">
  <div class="container">
    <nav class="way-footer-nav">
      <div class="way-footer-nav-wrapper">
        <a href="https://skaigroup-pw.netlify.app"
          ><img
            class="header-logo-img"
            src="./img/logo.svg"
            alt="logo"
            width="94"
            height="48"
        /></a>
      </div>

      <ul class="way-footer-nav-list">
        <li class="way-footer-nav-link-item">
          <a class="way-footer-nav-link wf-link-about lng" href="#skaiway-about"
            >about us</a
          >
        </li>
        <li class="way-footer-nav-link-item">
          <a
            class="way-footer-nav-link wf-link-services lng"
            href="#skaiway-services"
            >services</a
          >
        </li>
        <li class="way-footer-nav-link-item">
          <a class="way-footer-nav-link wf-link-app lng" href="#skaiway-app"
            >Mobile App</a
          >
        </li>
        <li class="way-footer-nav-link-item">
          <a
            class="way-footer-nav-link wf-link-testimonials lng"
            href="#way-testimonials"
            >testimonials</a
          >
        </li>
        <li class="">
          <a class="black-btn sf-nav-btn" href="#contact-us">
            <div class="black-btn-text-wrapper">
              <div class="black-btn-text-1 way-btn-text-1 lng">contact us</div>
              <div class="black-btn-text-2 way-btn-text-2 lng">contact us</div>
            </div>
          </a>
        </li>
      </ul>
    </nav>

    <div class="way-footer-contacts-wrapper">
      <a class="way-footer-contact" target="_blank" href="tel:+971585753044"
        >+971 58 575 3044</a
      >
      <a
        class="way-footer-contact"
        target="_blank"
        href="mailto:care@skaigroup.ae"
        >care@skaigroup.ae</a
      >

      <a class="black-btn sf-contact-btn" href="#contact-us">
        <div class="black-btn-text-wrapper">
          <div class="black-btn-text-1 way-btn-text-3 lng">contact us</div>
          <div class="black-btn-text-2 way-btn-text-4 lng">contact us</div>
        </div>
      </a>
    </div>

    <div class="way-footer-info-wrapper">
      <ul class="way-footer-social-list div1">
        <li>
          <a
            class="way-footer-social-link"
            href="https://www.instagram.com/skaiway.ae"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Instagram"
          >
            <svg class="way-footer-social-link-icon" height="24" width="24">
              <use href="./icons-sprite.svg#icon-inst"></use>
            </svg>
          </a>
        </li>

        <li>
          <a
            class="way-footer-social-link"
            href="https://t.me/skaiway_ae"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Telegram"
          >
            <svg class="way-footer-social-link-icon" height="24" width="24">
              <use href="./icons-sprite.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="way-footer-social-link"
            href="https://wa.me/971585753044"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="WhatsApp"
          >
            <svg class="way-footer-social-link-icon" height="24" width="24">
              <use href="./icons-sprite.svg#icon-whatsapp"></use>
            </svg>
          </a>
        </li>
      </ul>

      <p class="way-footer-text lng div2">
        Get a Tesla taxi or chauffeur service at your fingertips. Order your
        eco-friendly ride with us today!
      </p>
      <p class="way-footer-copyright lng div3">
        © 2024 Skai Group. All rights reserved
      </p>
    </div>
  </div>
</footer>
