<footer id="footer" class="footer">
  <div class="container">
    <nav class="footer-nav-wrap">
      <ul class="footer-nav">
        <li class="nav-link-item">
          <a class="nav-link" href="./thediscovery.html">The Discovery</a>
        </li>
        <li class="nav-link-item">
          <a class="nav-link" href="#galaxia-mission">Galaxia’s Mission</a>
        </li>
        <li class="nav-link-item">
          <a class="nav-link" href="./origins.html">Origins</a>
        </li>
        <li class="nav-link-item">
          <a class="nav-link" href="#vision-realized">Vision Realized</a>
        </li>
        <li class="nav-link-item">
          <a class="nav-link" href="#initial-findings">Initial Findings</a>
        </li>
        <li class="nav-link-item">
          <a class="nav-link" href="#expert-insights">Expert Insights</a>
        </li>
        <li class="nav-link-item">
          <a class="nav-link" href="#visionary">The Visionary</a>
        </li>
      </ul>
    </nav>

    <p class="footer-copyright">GRC © 2024</p>
  </div>
</footer>
