:root {
  scroll-behavior: smooth;
  /*-----------------------------------*/
  --home-background-color: #000;
  /*-----------------------------------*/

  --neutral-white: #fafafa;
  --gray-copyright: ##979797;
  --accent-blue: #4285f4;
  --white: #fff;
  --black: #000;
  --font-family: 'D-DIN', sans-serif;
  /*-----------------------------------*/
  --timing-function: 500ms ease-out;
  --timing-function-1: 300ms ease-in-out;
  --burger-menu: all 0.25s ease-out;
  /*-----------------------------------*/

  --tf-btn: cubic-bezier(0.19, 1, 0.22, 1);
}
