:root {
  scroll-behavior: smooth;
  /*-----------------------------------*/
  --home-background-color: #000;
  /*-----------------------------------*/

  --neutral-white: #fafafa;
  --font-family: 'D-DIN', sans-serif;
  /*-----------------------------------*/
  --timing-function: 500ms ease-out;
  --timing-function-1: 300ms ease-in-out;
  /*-----------------------------------*/
  --iti-spacer-horizontal: 24px !important;
}


