<div class="modal micromodal-slide" id="modal-2" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1">
    <div class="modal__container" role="dialog" aria-modal="true">
      <div class="modal-header">
        <img
          class="modal-logo-img"
          src="./img/logo.jpg"
          alt="logo"
          height="35"
        />

        <button
          class="modal__btn"
          data-micromodal-close
          aria-label="Close this dialog window"
        >
          <img width="32" height="32" src="./img/close.svg" alt="close img" />
        </button>
      </div>
      <div class="modal__content js-modal-content" id="modal-2-content">
        <div class="mini-modal-content visible js-mini-modal-content">
          <div class="modal-message-wrap">
            <p class="success-modal-title">
              We’re thrilled to have you on this journey!
            </p>
            <p class="success-modal-text">
              Stay tuned, and you'll be among the first to witness something
              truly remarkable!
            </p>
          </div>

          <div class="btn-reverse" data-micromodal-close>
            <span>Close</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
