.hero-title-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 122px;

  @include laptop {
    margin-top: 147px;
  }
}

.hero-title {
  display: inline-flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.25;
  text-transform: uppercase;
  text-align: center;
  color: var(--neutral-white);
  margin-bottom: 8px;

  @include tablet {
    font-size: 48px;
    margin-bottom: 16px;
  }

  @include laptop {
    font-size: 72px;
  }
}

.hero-description {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);
  margin-bottom: 8px;

  @include tablet {
    font-size: 17px;
    margin-bottom: 16px;
  }

  @include laptop {
    font-size: 21px;
  }
}

.hero-text {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  text-transform: uppercase;
  text-align: center;
  color: var(--neutral-white);
  margin-bottom: 24px;

  @include tablet {
    margin-bottom: 24px;
  }

  @include laptop {
    font-size: 16px;
  }
}

.hero-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 26px;

  @include tablet {
    flex-direction: row;
    justify-content: center;
    column-gap: 16px;
  }
}

.join-us-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 26px;
  margin-top: 16px;

  @include tablet {
    flex-direction: row;
    justify-content: start;
    column-gap: 16px;
    margin-top: 24px;
  }
}

.join-us-text {
  display: block;

  @include tablet {
    width: 512px;
  }
}

.fields-wrap {
  position: relative;
  width: 100%;
  max-width: 325px;
  @include laptop {
    max-width: 402px;
  }
}

.email-galaxia {
  width: 100%;
  height: 50px;
  padding: 15px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.15);
  font-weight: 400;
  font-size: 14px;
  color: var(--neutral-white);
  border: 2px solid rgba(255, 255, 255, 0.6);
  outline: none;

  transition: border-color 0.3s ease;

  &:focus {
    border-color: rgba(255, 255, 255, 1);
    outline: none;
  }

  &::placeholder {
    color: var(--neutral-white);
    opacity: 1;
  }
}

.discovery-text {
  max-width: 450px;
}

.mission-text {
  max-width: 500px;
}

.expert-section{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('/img/home/section7.avif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100svh;

  @include tablet {
    height: 100svh;
    min-height: 650px;
    max-height: 860px;
  }
    @include laptop {
      min-height: 860px;
    }
}

.faq-title-wrap {
  text-align: center;
  margin-bottom: 16px;

  @include tablet {
    margin-bottom: 24px;
  }

  @include laptop {
    margin-bottom: 60px;
  }
}

.faq-title {
  display: inline-block;
  font-weight: 400;
  font-size: 23px;
  color: var(--gray-copyright);
  transition: color var(--timing-function-1);

  @include laptop {
    font-size: 32px;
  }
}

.faq-item.active .faq-title {
  color: var(--white);
}

.faq-item {
  border-bottom: 1px solid rgba(217, 217, 217, 0.59);
  padding: 16px 0;
  cursor: pointer;

  @include laptop {
    padding: 32px 0 24px;
  }
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-answer {
  max-height: 0;
  opacity: 0;
  height: auto;
  overflow: hidden;
  transition: opacity var(--timing-function-1);
}

.faq-item.active .faq-answer {
  margin-top: 24px;
  max-height: 500px;
  opacity: 1;
}

.faq-description {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.2;

  @include laptop {
    font-size: 17px;
  }
}

.faq-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  transition: transform 0.3s;
}

.faq-icon::before,
.faq-icon::after {
  content: '';
  position: absolute;
  background-color: var(--gray-copyright);
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

.faq-icon::before {
  width: 12px;
  height: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.faq-icon::after {
  width: 2px;
  height: 12px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.faq-item.active .faq-icon::after {
  transform: translate(-50%, -50%) rotate(90deg);
  background-color: var(--white);
}

.faq-item.active .faq-icon::before {
  opacity: 0;
}

.faq-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  margin-top: 24px;

  @include laptop {
    margin-top: 45px;
  }
}

.chevron-right {
  padding: 4px;
  width: 24px;
  height: 24px;
  margin-left: 8px;
  stroke: currentColor;
  transition: stroke 0.5s var(--tf-btn);
}


.visionary-name{
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  color: var(--gray-copyright);

  margin-top: 8px;
}

.visionary-content-wrap{
  margin-top: 24px;

  @include laptop{
    margin-top: 37px;
  }
}