<section id="about-us" class="video-bg-section">
  <video
    class="video-bg"
    autoplay
    muted
    loop
    preload="auto"
    src="./videos/section.mp"
    poster="./img/home/section10.avif"
  ></video>
  <div class="container video-container">
    <div class="home-section-desc-wrap">
      <h3 class="subtitle">About Us</h3>
      <h2 class="title">
        Bridging the Gap <br />
        Between Science <br />
        and the Cosmos
      </h2>
      <p class="text discovery-text">
        About the Galaxia Research Consortium (GRC) <br />
        <br />
        The Galaxia Research Consortium (GRC) is an independent organization
        comprised of leading scientists, researchers, and experts dedicated to
        reviewing, validating, and disseminating the findings produced by
        Galaxia.
      </p>
      <a class="btn btn-mt" href="./about-us.html">Learn More</a>
    </div>
  </div>
</section>
