<section id="blog" class="video-bg-section">
  <video
    class="video-bg"
    autoplay
    muted
    loop
    playsinline
    preload="auto"
    src="./videos/section13.mp4"
    poster="./img/home/section13.avif"
  ></video>
  <div class="container video-container">
    <div class="home-section-desc-wrap">
      <h3 class="subtitle">Blog</h3>
      <h2 class="title">
        Latest Updates <br />
        & Insights
      </h2>
      <p class="text discovery-text">
        Stay Informed with the Latest News from the Galaxia Research Consortium
      </p>
    </div>
  </div>
</section>
