<section id="challenge" class="video-bg-section">
  <video
    class="video-bg"
    autoplay
    muted
    loop
    playsinline
    preload="auto"
    src="./videos/section9.mp4"
    poster="./img/home/section9.avif"
  ></video>
  <div class="container video-container">
    <div class="home-section-desc-wrap">
      <h3 class="subtitle">The Challenge</h3>
      <h2 class="title">
        Is the World <br />
        Ready for the <br />
        Truth?
      </h2>
      <p class="text discovery-text">
        As Galaxia’s research advances, it challenges our fundamental
        understandings. Are we prepared for the potential realities it might
        unveil?
        <a class="btn btn-mt" href="./challenge.html">Learn More</a>
      </p>
    </div>
  </div>
</section>
