<section id="discovery" class="video-bg-section">
  <video
    class="video-bg"
    autoplay
    muted
    loop
    playsinline
    preload="auto"
    src="./videos/section2.mp4"
    poster="./img/home/section2.avif"
  ></video>
  <div class="container video-container">
    <div
      class="home-section-desc-wrap"
      data-aos="fade-up"
      data-aos-offset="200"
      data-aos-delay="50"
      data-aos-duration="1000"
      data-aos-easing="ease-in-out"
      data-aos-mirror="true"
      data-aos-once="false"
      data-aos-anchor-placement="top-left"
    >
      <h3 class="subtitle">The Discovery</h3>
      <h2 class="title">
        In 2025, We Might <br />
        Rewrite History
      </h2>
      <p class="text discovery-text">
        Imagine being part of the moment we discover we’re not alone. Galaxia, a
        revolutionary AI designed to analyze the cosmos, is on a quest to find
        life beyond Earth.
      </p>
      <a class="btn btn-mt" href="./discovery.html">Learn More</a>
    </div>
  </div>
</section>
