<section id="expert" class="expert-section">
  <picture class="video-bg">
    <source srcset="./img/pages/vision-mob.avif" media="(max-width: 767px)" />
    <source srcset="./img/home/section7.avif" media="(max-width: 1199px)" />
    <img src="./img/home/section7.avif" alt="galaxy" />
  </picture>
  <div class="container video-container">
    <div class="home-section-desc-wrap">
      <h3 class="subtitle">Expert Insights</h3>
      <h2 class="title">
        Pioneering Voices: Leading <br />
        Experts Discuss Galaxia’s <br />
        Universal Impact
      </h2>
      <p class="text discovery-text">
        Pioneering Voices: Leading Experts Discuss How Galaxia Could Transform
        Our Understanding of the Universe
      </p>
      <a class="btn btn-mt" href="./experts-insights.html" style="z-index: 1"
        >Learn More</a
      >
    </div>
  </div>
</section>
