<section class="faq">
  <div class="container">
    <div class="faq-title-wrap">
      <h2 class="title">FAQS</h2>
      <p class="subtitle">
        Your Questions Answered About Project Galaxia and the GRC
      </p>
    </div>

    <div class="faq-item" data-faq>
      <div class="faq-question">
        <span class="faq-title">What is Project Galaxia?</span>
        <div class="faq-icon"></div>
      </div>
      <div class="faq-answer">
        <p class="faq-description">
          Project Galaxia is the most advanced AI initiative of its kind,
          designed to analyze vast amounts of astronomical data, interpret
          complex radio signals, and uncover potential signs of life beyond
          Earth. Using advanced technology, it aims to push the boundaries of
          what we know about the universe and reveal hidden truths that science
          alone couldn’t.
        </p>
      </div>
    </div>

    <div class="faq-item" data-faq>
      <div class="faq-question">
        <span class="faq-title"
          >What’s the Galaxia Research Consortium (GRC)?</span
        >
        <div class="faq-icon"></div>
      </div>
      <div class="faq-answer">
        <p class="faq-description">
          Project Galaxia processes data using deep learning algorithms
          optimized for astronomical datasets, providing insights that
          traditional methods miss.
        </p>
      </div>
    </div>

    <div class="faq-item" data-faq>
      <div class="faq-question">
        <span class="faq-title">Who is behind the creation of Galaxia?</span>
        <div class="faq-icon"></div>
      </div>
      <div class="faq-answer">
        <p class="faq-description">
          Project Galaxia processes data using deep learning algorithms
          optimized for astronomical datasets, providing insights that
          traditional methods miss.
        </p>
      </div>
    </div>

    <div class="faq-item" data-faq>
      <div class="faq-question">
        <span class="faq-title"
          >Why is 2025 so important for Project Galaxia?</span
        >
        <div class="faq-icon"></div>
      </div>
      <div class="faq-answer">
        <p class="faq-description">
          Project Galaxia processes data using deep learning algorithms
          optimized for astronomical datasets, providing insights that
          traditional methods miss.
        </p>
      </div>
    </div>

    <div class="faq-item" data-faq>
      <div class="faq-question">
        <span class="faq-title"
          >How does Galaxia differ from other AI systems?</span
        >
        <div class="faq-icon"></div>
      </div>
      <div class="faq-answer">
        <p class="faq-description">
          Project Galaxia processes data using deep learning algorithms
          optimized for astronomical datasets, providing insights that
          traditional methods miss.
        </p>
      </div>
    </div>

    <div class="faq-item" data-faq>
      <div class="faq-question">
        <span class="faq-title">What kind of data does Galaxia analyze?</span>
        <div class="faq-icon"></div>
      </div>
      <div class="faq-answer">
        <p class="faq-description">
          Project Galaxia processes data using deep learning algorithms
          optimized for astronomical datasets, providing insights that
          traditional methods miss.
        </p>
      </div>
    </div>

    <div class="faq-item" data-faq>
      <div class="faq-question">
        <span class="faq-title"
          >What potential discoveries could Galaxia make?</span
        >
        <div class="faq-icon"></div>
      </div>
      <div class="faq-answer">
        <p class="faq-description">
          Project Galaxia processes data using deep learning algorithms
          optimized for astronomical datasets, providing insights that
          traditional methods miss.
        </p>
      </div>
    </div>

    <div class="faq-item" data-faq>
      <div class="faq-question">
        <span class="faq-title"
          >Why haven’t Galaxia’s discoveries been made public?</span
        >
        <div class="faq-icon"></div>
      </div>
      <div class="faq-answer">
        <p class="faq-description">
          Project Galaxia processes data using deep learning algorithms
          optimized for astronomical datasets, providing insights that
          traditional methods miss.
        </p>
      </div>
    </div>

    <div class="faq-item" data-faq>
      <div class="faq-question">
        <span class="faq-title">How are Galaxia’s findings validated?</span>
        <div class="faq-icon"></div>
      </div>
      <div class="faq-answer">
        <p class="faq-description">
          Project Galaxia processes data using deep learning algorithms
          optimized for astronomical datasets, providing insights that
          traditional methods miss.
        </p>
      </div>
    </div>

    <div class="faq-item" data-faq>
      <div class="faq-question">
        <span class="faq-title"
          >How can I stay informed about Project Galaxia’s developments?</span
        >
        <div class="faq-icon"></div>
      </div>
      <div class="faq-answer">
        <p class="faq-description">
          Project Galaxia processes data using deep learning algorithms
          optimized for astronomical datasets, providing insights that
          traditional methods miss.
        </p>
      </div>
    </div>

    <div class="faq-btn">
      <a class="btn-reverse">
        <span>Get Exclusive Updates</span>
        <svg
          class="chevron-right"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-chevron-right"
        >
          <path d="m9 18 6-6-6-6" />
        </svg>
      </a>
    </div>
  </div>
</section>
