<section class="faq" id="faq">
  <div class="container">
    <div class="faq-title-wrap">
      <h2 class="title">FAQS</h2>
      <p class="subtitle">
        Your Questions Answered About Project Galaxia and the GRC
      </p>
    </div>

    <div class="faq-item" data-faq>
      <div class="faq-question">
        <span class="faq-title">What is Project Galaxia?</span>
        <div class="faq-icon"></div>
      </div>
      <div class="faq-answer">
        <p class="faq-description">
          Project Galaxia is the most advanced AI initiative of its kind,
          designed to analyze vast amounts of astronomical data, interpret
          complex radio signals, and uncover potential signs of life beyond
          Earth. Using advanced technology, it aims to push the boundaries of
          what we know about the universe and reveal hidden truths that science
          alone couldn’t.
        </p>
      </div>
    </div>

    <div class="faq-item" data-faq>
      <div class="faq-question">
        <span class="faq-title"
          >What’s the Galaxia Research Consortium (GRC)?</span
        >
        <div class="faq-icon"></div>
      </div>
      <div class="faq-answer">
        <p class="faq-description">
          The Galaxia Research Consortium (GRC) is an independent body comprised
          of leading scientists and experts. While not the creator of Galaxia,
          the GRC’s primary role is to validate, review, and disseminate its
          findings. The Consortium ensures that all discoveries made by Galaxia
          are rigorously verified and shared responsibly, offering an unbiased
          perspective on groundbreaking research into the potential existence of
          life beyond Earth.
        </p>
      </div>
    </div>

    <div class="faq-item" data-faq>
      <div class="faq-question">
        <span class="faq-title">Who is behind the creation of Galaxia?</span>
        <div class="faq-icon"></div>
      </div>
      <div class="faq-answer">
        <p class="faq-description">
          Galaxia was conceived by a visionary scientist who remains anonymous
          to keep the focus on the research itself. The project is now supported
          by a coalition of scientific institutions.
        </p>
      </div>
    </div>

    <div class="faq-item" data-faq>
      <div class="faq-question">
        <span class="faq-title"
          >Why is 2025 so important for Project Galaxia?</span
        >
        <div class="faq-icon"></div>
      </div>
      <div class="faq-answer">
        <p class="faq-description">
          2025 is when Galaxia will complete its first comprehensive analysis of
          deep space data, which could redefine our understanding of life beyond
          Earth. Initial findings have already baffled its creators, and these
          discoveries are set to be revealed in the near future—potentially
          marking a groundbreaking moment in our quest to answer, “Are we alone
          in the universe?”
        </p>
      </div>
    </div>

    <div class="faq-item" data-faq>
      <div class="faq-question">
        <span class="faq-title"
          >How does Galaxia differ from other AI systems?</span
        >
        <div class="faq-icon"></div>
      </div>
      <div class="faq-answer">
        <p class="faq-description">
          Galaxia uses a unique Quantum Cognition Engine that allows it to
          analyze complex cosmic data and uncover patterns that traditional
          systems cannot. It synthesizes complex information from a vast range
          of sources, enhancing its ability to reveal potential signs of life
          beyond Earth.
        </p>
      </div>
    </div>

    <div class="faq-item" data-faq>
      <div class="faq-question">
        <span class="faq-title">What kind of data does Galaxia analyze?</span>
        <div class="faq-icon"></div>
      </div>
      <div class="faq-answer">
        <p class="faq-description">
          Galaxia processes a wide range of astronomical data, including radio
          signals, spectral information, and deep space imagery, to identify
          anomalies and patterns that may indicate extraterrestrial life.
          Galaxia processes a wide range of astronomical data, including radio
          signals, spectral information, and deep space imagery, to identify
          anomalies and patterns that may indicate extraterrestrial life.
        </p>
      </div>
    </div>

    <div class="faq-item" data-faq>
      <div class="faq-question">
        <span class="faq-title"
          >What potential discoveries could Galaxia make?</span
        >
        <div class="faq-icon"></div>
      </div>
      <div class="faq-answer">
        <p class="faq-description">
          Galaxia aims to detect potential biosignatures, technological signals,
          and other signs that could indicate the existence of intelligent life
          beyond Earth.
        </p>
      </div>
    </div>

    <div class="faq-item" data-faq>
      <div class="faq-question">
        <span class="faq-title"
          >Why haven’t Galaxia’s discoveries been made public?</span
        >
        <div class="faq-icon"></div>
      </div>
      <div class="faq-answer">
        <p class="faq-description">
          Galaxia’s findings are currently under review to ensure accuracy and
          credibility before being shared with the public. As new results are
          validated, they will be made available to the community.
        </p>
      </div>
    </div>

    <div class="faq-item" data-faq>
      <div class="faq-question">
        <span class="faq-title">How are Galaxia’s findings validated?</span>
        <div class="faq-icon"></div>
      </div>
      <div class="faq-answer">
        <p class="faq-description">
          Through rigorous peer review and collaboration with global scientific
          communities to ensure accuracy and reliability.
        </p>
      </div>
    </div>

    <div class="faq-item" data-faq>
      <div class="faq-question">
        <span class="faq-title"
          >How can I stay informed about Project Galaxia’s developments?</span
        >
        <div class="faq-icon"></div>
      </div>
      <div class="faq-answer">
        <p class="faq-description">
          Sign up for our email updates to receive exclusive insights and be
          among the first to know about new discoveries.
        </p>
      </div>
    </div>

    <div class="faq-btn">
      <a class="btn-reverse" href="/index.html#join-us">
        <span>Get Exclusive Updates</span>
        <svg
          class="chevron-right"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-chevron-right"
        >
          <path d="m9 18 6-6-6-6" />
        </svg>
      </a>
    </div>
  </div>
</section>
