<section id="join-us" class="video-bg-section">
  <video
    class="video-bg"
    autoplay
    muted
    loop
    preload="auto"
    src="./videos/section11.mp4"
    poster="./img/home/section11.avif"
  ></video>
  <div class="container video-container">
    <div class="home-section-desc-wrap">
      <h3 class="subtitle">Join Us</h3>
      <h2 class="title">
        Gain Exclusive Access to <br />
        Groundbreaking Discoveries
      </h2>
      <p class="subtitle join-us-text">
        Be part of history. Get exclusive updates as Galaxia uncovers evidence
        of life beyond Earth.
      </p>
      <form
        action="/subscribe"
        method="POST"
        data-form-join-us
        class="join-us-form"
      >
        <label for="email" class="visually-hidden">Email:</label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="EMAIL"
          autocomplete="off"
          required
          class="email-galaxia"
        />
        <button type="submit" class="btn-reverse">
          <span>Join the Discovery</span>
          <svg
            class="chevron-right"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-chevron-right"
          >
            <path d="m9 18 6-6-6-6" />
          </svg>
        </button>
      </form>
    </div>
  </div>
</section>
