<section id="origins" class="video-bg-section">
  <video
    class="video-bg"
    autoplay
    muted
    loop
    preload="auto"
    src="./videos/section.mp"
    poster="./img/home/section4.avif"
  ></video>
  <div class="container video-container">
    <div class="home-section-desc-wrap">
      <h3 class="subtitle">Origins</h3>
      <h2 class="title">
        Built in Secrecy, <br />
        Designed for <br />
        Discovery
      </h2>
      <p class="text mission-text">
        Initiated by a visionary in astrophysics, quantum computing, and
        cosmology, and crafted away from the public eye, Galaxia’s...
      </p>
      <a class="btn btn-mt" href="./origins.html">Learn More</a>
    </div>
  </div>
</section>
