<section id="visionary" class="video-bg-section">
  <video
    class="video-bg"
    autoplay
    muted
    loop
    preload="auto"
    src="./videos/section.mp"
    poster="./img/home/section8.avif"
  ></video>
  <div class="container video-container">
    <div class="home-section-desc-wrap">
      <h3 class="subtitle">The Visionary</h3>
      <h2 class="title">
        A Pioneer Who Shuns <br />
        the Spotlight
      </h2>
      <p class="text discovery-text">A Pioneer Who Shuns the Spotlight</p>
      <a class="btn btn-mt" href="./visionary.html">Learn More</a>
    </div>
  </div>
</section>
