<section id="vision" class="video-bg-section">
  <video
    class="video-bg"
    autoplay
    muted
    loop
    preload="auto"
    src="./videos/section.mp"
    poster="./img/home/section_.avif"
  ></video>
  <div class="container video-container">
    <div class="home-section-desc-wrap">
      <h3 class="subtitle">Vision Realized</h3>
      <h2 class="title">
        Galaxia: A Singular <br />
        Vision Brought to Life
      </h2>
      <p class="text mission-text">
        Galaxia’s creation was the result of one visionary’s relentless pursuit
        to unlock the secrets of life beyond Earth. Supported by select
        scientific and research institutions for validation, Galaxia...
      </p>
      <a class="btn btn-mt" href="./vision-realized.html">Learn More</a>
    </div>
  </div>
</section>
