<section id="visionary" class="video-bg-section">
  <video
    class="video-bg"
    autoplay
    muted
    loop
    playsinline
    preload="auto"
    src="./videos/section8.mp4"
    poster="./img/home/section8.avif"
  ></video>
  <div class="container video-container">
    <div
      class="home-section-desc-wrap"
      data-aos="fade-up"
      data-aos-offset="200"
      data-aos-delay="50"
      data-aos-duration="1000"
      data-aos-easing="ease-in-out"
      data-aos-mirror="true"
      data-aos-once="false"
      data-aos-anchor-placement="top-left"
    >
      <h3 class="subtitle">The Visionary</h3>
      <h2 class="title">
        A Pioneer Who Shuns <br />
        the Spotlight
      </h2>
      <p class="text discovery-text">A Pioneer Who Shuns the Spotlight</p>
      <a class="btn btn-mt" href="./visionary.html">Learn More</a>
    </div>
  </div>
</section>
